# Ignorar archivos de Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de entorno virtual
venv/
env/
ENV/
.venv/

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos generados por el sistema
*.swp
*.swo

# Archivos de cache de pytest
.cache/

# Archivos de configuración de editor
*.sublime-workspace
*.sublime-project

# Otros archivos generados
*.log
*.bak
*.tmp
